body {
    background-color: black;
    color: white;
    text-align: center;
}

.circle {
    /* padding: 20px 20px; */
    width: 200px;
    height: 200px;
    background-color: blue;
    /* color: blue; */
    border-radius: 50%;
}

.square {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.slide {
    width: 200px;
    height: 100px;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0;
}